* {
  box-sizing: border-box;
  margin: 0;
}

/* 웹 배경색상 */
body {
  background-color: #3C3C3C;
  margin: 20px 170px;
}

/* 제목 아래 */
nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}

/* 하단부 */
footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}

/* 모든 글씨 색깔 */
h3, p {
  color: white;
}

.title {
  padding: 10px 0px;
}

.center {
  height: 800px;
}