* {
    box-sizing: border-box;
    margin: 0;
  }

  /* 웹 배경색상 */
  body {
    background-color: #3C3C3C;
  }

  /* 상단에 있는 버튼 묶음 */
  article {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-row: 2/3;
    grid-column: 1/2;
    gap: 10px;
  }

  /* 목록 태그 기호 없애기 */
  ol {
      list-style: none;
  }

  /* 전체 중앙 정렬 */
  .center {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  /* 전체 */
 section {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 0.3fr 1fr 3fr;
  }

  /* 제목 */
  .title {
      grid-row: 1/2;
      grid-column: 1/2;
      height: 50px;
      width: 1500px;
      color: white;
      border: 0.5px solid gray;
      background-color:#3C3C3C;
  }

  /* 내용을 입력하는 칸 가로, 세로 길이 고정하기 */
  .text {
      height: 500px;
      border: 1px solid gray;
      resize: none;
      grid-row: 3/4;
      grid-column: 1/2;
      color: white;
      border: 0.5px solid gray;
      background-color:#3C3C3C;
  }

  /* 글씨 굵기 */
  .text_thickness {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  /* 취소선 */
  .strikethrough {
    grid-row: 2/3;
    grid-column: 2/3;
  }

  /* 밑줄 */
  .underline {
    grid-row: 2/3;
    grid-column: 3/4;
  }

  /* 구분선 */
  .hr {
    grid-row: 2/3;
    grid-column: 4/5;
  }

  /* 정렬 */
  .range {
    grid-row: 2/3;
    grid-column: 5/6;
  }

  /* 텍스트 사이즈 */
  .textSize {
    grid-row: 3/4;
    grid-column: 1/2;
  }

  /* 글씨 색상 */
  .textColor {
    grid-row: 3/4;
    grid-column: 2/3;
  }

  /* 글씨 배경 */
  .textBackground {
    grid-row: 3/4;
    grid-column: 3/4;
  }

  /* 게시판 배경 */
  .WebBackground {
    grid-row: 3/4;
    grid-column: 4/5;
  }

  /* 구분선 색상 */
  .hrColor {
    grid-row: 3/4;
    grid-column: 5/6;
  }
  
  /* 등록 버튼 우측 하단에 고정 */
  .save {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 250px;
    height: 40px;
  }

  /* 모든 버튼 디자인 */
  button {
    border: 0px;
    color: white;
    background-color: #252525;
  }
  
  /* 마우스 커서를 버튼 위에 올렸을 때 */
  button:hover {
    background-color: #191919;
  }

  @media screen and (width:768px) {

  /* 전체 중앙 정렬 */
  .center {
    margin-top: 30px;
    }

    /* 상단에 있는 버튼 묶음 */
    .set {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(5, 1fr);
    }

    /* 글씨 굵기 */
    .text_thickness {
      grid-row: 2/3;
      grid-column: 1/2;
    }

    /* 취소선 */
    .strikethrough {
      grid-row: 2/3;
      grid-column: 2/3;
    }

    /* 밑줄 */
    .underline {
      grid-row: 2/3;
      grid-column: 3/4;
    }

    /* 구분선 */
    .hr {
      grid-row: 2/3;
      grid-column: 4/5;
    }

    /* 정렬 */
    .range {
      grid-row: 3/4;
      grid-column: 1/2;
    }

    /* 글씨 크기 */
    .textSize {
      grid-row: 3/4;
      grid-column: 2/3;
    }

    /* 글씨 색상 */
    .textColor {
      grid-row: 3/4;
      grid-column: 3/4;
    }

    /* 글씨 배경 */
    .textBackground {
      grid-row: 3/4;
      grid-column: 4/5;
    }

    /* 게시판 배경 */
    .WebBackground {
      grid-row: 4/5;
      grid-column: 1/2;
    }

    /* 구분선 색상 */
    .hrColor {
      grid-row: 4/5;
      grid-column: 2/3;
    }

    /* 제목 */
    .title {
      height: 30px;
      width: 700px;
    }

    .save {
      width: 150px;
      height: 30px;
    }

}